Source: libspnav
Section: libs
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Steffen Moeller <moeller@debian.org>, Rodolphe PELLOUX-PRAYER <rodolphe@damsy.net>
Build-Depends: debhelper-compat (= 13), libx11-dev
Standards-Version: 4.6.1
Homepage: http://spacenav.sourceforge.net
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/science-team/libspnav
Vcs-Git: https://salsa.debian.org/science-team/libspnav.git

Package: libspnav-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libspnav0 (= ${binary:Version})
Description: Library to access 3D-input-devices
 The spacenav project provides a free, compatible alternative to the
 proprietary 3Dconnexion SDK for their 3D input devices (called
 "space navigator", "space pilot", "space traveller", etc).
 .
 This package contains the development-files.

Package: libspnav0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: spacenavd
Description: Library to access 3D-input-devices (development files)
 The spacenav project provides a free, compatible alternative to the
 proprietary 3Dconnexion SDK for their 3D input devices (called
 "space navigator", "space pilot", "space traveller", etc).
 .
 This package contains the library.
